In [2]:
import pandas as pd

In [8]:
#https://www.kaggle.com/loveall/clicks-conversion-tracking
df = pd.read_csv("KAG_conversion_data.csv")
df.head()

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [4]:
df.tail(n=5)

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[5 rows x 11 columns]

In [10]:
df.index

RangeIndex(start=0, stop=1143, step=1)

In [6]:
df.columns

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [18]:
linhas, colunas = df.shape
print("Linhas: ", linhas)
print("Colunas:", colunas)

Linhas:  1143
Colunas: 11

In [15]:
ser_interest = df["interest"]
type(ser_interest)

pandas.core.series.Series

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB

In [17]:
df.describe()

              ad_id  xyz_campaign_id  ...  Total_Conversion  Approved_Conversion
count  1.143000e+03      1143.000000  ...       1143.000000          1143.000000
mean   9.872611e+05      1067.382327  ...          2.855643             0.944007
std    1.939928e+05       121.629393  ...          4.483593             1.737708
min    7.087460e+05       916.000000  ...          0.000000             0.000000
25%    7.776325e+05       936.000000  ...          1.000000             0.000000
50%    1.121185e+06      1178.000000  ...          1.000000             1.000000
75%    1.121804e+06      1178.000000  ...          3.000000             1.000000
max    1.314415e+06      1178.000000  ...         60.000000            21.000000

[8 rows x 9 columns]

#### Dicionário dos dados



1.   ad_id - ID único para cada anúncio
2.   xyzcampaignid - ID associado a cada campanha publicitária da empresa XYZ
3.   fbcampaignid - ID associado a como o Facebook rastreia cada campanha.
4.   age - idade da pessoa a quem o anúncio é mostrado.
5.   gender - sexo da pessoa que deseja que o anúncio seja mostrado
6.   interest - código que especifica a categoria à qual pertence o interesse da pessoa (os interesses são mencionados no perfil público da pessoa no Facebook)
7.   Impression - o número de vezes que o anúncio foi mostrado.
8.   Clicks - número de cliques nesse anúncio.
9.   Spent - Valor pago pela empresa xyz ao Facebook, para exibir aquele anúncio.
10.  Total conversion - Número total de pessoas que fizeram perguntas sobre o produto depois de ver o anúncio.
11.  Approved conversion - Número total de pessoas que compraram o produto depois de ver o anúncio.